apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-node-app
  namespace: argo-node-app
spec:
  replicas: 10
  selector:
    matchLabels:
      app: auth-node-app
  template:
    metadata:
      labels:
        app: auth-node-app
    spec:
      containers:
        - name: auth-node-app
          image: caramingo/auth_node_app:1.6.4.32
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000

          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
